<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site is created to take a Location and show the temperature of that location.</p>
        <img class="portrait" src="/img/Maha_Photo.jpg">
    </div>
    
    {{>footer}}
</body>

</html>